body {
  background-color: #0c4a6e;
}

.header {
  background-color: #e0f2fe;
  text-shadow: -1px 0  white, 0 1px  white, 1px 0  white, 0 -1px  white;
  font-size: 35px;
  font-weight: 600;
  color: #0c4a6e;
  width: 12rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: .5rem;
  border-radius: 14px;
}

.confirm {
  background-color: #0369a1;
    width: 8rem;
    height: 4rem;
    color: #f0f9ff;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 14px;
}

input[type=text] {
  width: 45%;
  border: 2px solid #0c4a6e;
  border-radius: 14px;
  padding: 10px;
}

.dropbtn {
    background-color: #0369a1;
    width: 8rem;
    height: 4rem;
    color: #f0f9ff;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 14px;
  }
  
  .dropbtn:hover, .dropbtn:focus, .confirm:hover, .confirm:focus {
    background-color: #0c4a6e;
  }
  
  .dropdownMenu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f9ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #0c4a6e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #bae6fd;}
  
  .show {display:block;}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.searchContainer {
  background-color: #e0f2fe;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 14px;

}

#display {
  background-color: #e0f2fe;
  width: 24rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border-radius: 14px;

}

#location {
  color: white;
  text-shadow: -1px 0  black, 0 1px  black, 1px 0  black, 0 -1px  black;
  display: flex;
  flex-direction: row;
  gap: 2px;
  font-size: 36px;
  font-weight: 700;
}

#tempDisplay {
  color: white;
  text-shadow: -1px 0  black, 0 1px  black, 1px 0  black, 0 -1px  black;
  display: flex;
  flex-direction: row;
  gap: 2px;
  font-size: 36px;
  font-weight: 700;
}

  .icon {
    color: white;
    width: 3rem;
  }

  .windDisplay {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 700;
  }

  .humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
  }

.conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 24rem;
  height: 7rem;
  color: #0c4a6e;
  background-color: #e0f2fe;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 14px;
}

.forecastTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 700;
}
  #forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1px;

  }

  .forecastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 24rem;
    height: 7rem;
    color: #0c4a6e;
    background-color: #e0f2fe;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
  }